.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 80%;
    height: 10%;
    padding: 0% 10%;
    font-size: 2rem;
    font-weight: 600;
    z-index: 2;
    background: #141D2F;
    backdrop-filter: blur(32.5px);

    p {
        cursor: pointer;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35%;
        height: 40%;

        div {
            position: relative;
            display: flex;
            align-items: flex-end;
            flex-direction: column-reverse;
            width: auto;
            height: 100%;
            cursor: pointer;


            a {
                font-size: 1.3rem;
                font-weight: 200;
                color: white;
                margin-bottom: 5%;
                text-decoration: none;

                &:hover {
                    color: #FA7902;
                }
            }

            div {
                position: absolute;
                left: 0;
                width: 3rem;
                height: 1%;
                border-bottom: 0.2rem solid ;
                border-color: #141D2F;
            }
        }
    }
}

.border-red {
    border-color: #FF4747 !important;
}