<footer>

    <div>

        <div class="impressum">
            <p>Daniel</p>
            <div>
                <a href="#">Impressum</a>
                <div></div>
            </div>
        </div>

        <p>&copy; Daniel Rubin 2022</p>

        <div class="sozial-media">
            <a href="https://github.com/Daniel109746"><img src="assets/img/Github button.png"></a>
            <a href="mailto:daniel.rubin1997@gmail.com"><img src="assets/img/Email button.png"></a>
            <a href="https://www.linkedin.com/in/daniel-rubin-6800b5209/"><img src="assets/img/Linkedin button.png"></a>
        </div>
    </div>

</footer>
