<footer>

    <div>

        <div class="impressum">
            <p>Daniel</p>
            <div>
                <a>Imprint</a>
                <div></div>
            </div>
        </div>

        <p>&copy; Daniel Rubin 2022</p>

        <div class="sozial-media">
            <a href="https://github.com/d-rubin"><img src="assets/img/Github button.png"></a>
            <a href="mailto:contact@daniel-rubin.de"><img src="assets/img/Email button.png"></a>
            <a href="https://www.linkedin.com/in/profile-daniel-rubin/"><img src="assets/img/Linkedin button.png"></a>
        </div>
    </div>

</footer>
