<div class="about-me" id="about-me-section">
    <div>
        <h1>About me</h1>
        <p>Hi, I am a Front-end developer based in Landshut Germany. I have built several Web-apps and finished an
            expansive Coding School, to be a frontend-developer. I have found my passion in developing Web-apps and want
            to prove myself to the working world and create beautiful Software with you.</p>
        <div>
            <img src="assets/img/light-bulb.png">
            <p>I started my Carrier in an apprenticeship as an industrial mechanic and went on with working as a
                Service-technican, where I learned to take responsibility and being creative and solution orientated.
                While working, I started studying mechanical engineering, what I finished on April 22. Then I worked in
                a leading/planning Position for half a Year.</p>
        </div>
        <div>
            <img src="assets/img/puzzle desktop.png">
            <p>I quickly saw, that the industry is not what I am made for, so I did quite research and tutorials on how
                to start programming, which is a long dream of mine because of my gaming passion since my childhood. I
                realized quick, that this is what I want to do professionally, So I started at a coding school, and now
                I'm here ready and pleased to get to work with you.</p>
        </div>
    </div>
    <div class="about-me-img">
        <div>
            <img src="assets/img/Bewerbungsfoto2.png">
            <img src="assets/img/Ellipse 1.png">
        </div>

        <img class="line7" src="assets/img/LINE 7.png">
    </div>
</div>