<div class="about-me" id="about-me-section">
    <div>
        <h1>About me</h1>
        <p>Hi, I am a Front-end devoloper based in Landshut Germany Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Tempore, autem. Veniam dolorem odit aliquid? Pariatur blanditiis aliquid minus amet? Labore ea aperiam
            facere exercitationem porro amet voluptatum molestias explicabo. Provident!</p>
        <div>
            <img src="assets/img/light-bulb.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis corrupti ullam laborum ab omnis
                obcaecati laboriosam ipsum libero quia aliquam cum fugit minus, placeat facilis alias iste nesciunt
                animi?</p>
        </div>
        <div>
            <img src="assets/img/puzzle desktop.png">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia praesentium aliquam inventore nihil quis
                alias, qui consequatur harum ab ducimus? Quasi veniam magni praesentium molestiae reprehenderit, numquam
                ullam nam. Enim.</p>
        </div>
    </div>
    <div class="about-me-img">
        <div>
            <img src="assets/img/Bewerbungsfoto2.png">
            <img src="assets/img/Ellipse 1.png">
        </div>

        <img class="line7" src="assets/img/LINE 7.png">
    </div>
</div>
