<div class="about-me" id="about-me-section">
    <div>
        <h1>About me</h1>
        <p>I am a German-speaking Web Developer with experience in building web apps with JavaScript & Angular. You are
            welcome to visit my public portfolio, which includes responsive websites and business apps.</p>
        <div>
            <img src="assets/img/light-bulb.png">
            <p>I’ve always been fascinated by Software that simplifies my life. So I started taking courses on Udemy and
                quickly realised how much fun it was. To take my skills to a professional level, I decided to train as a
                front-end developer at the Developer Academy.</p>
        </div>
        <div>
            <img src="assets/img/puzzle desktop.png">
            <p>There I was able to quickly deepen my knowledge in several individual or group projects and got feedback
                on them in regular code reviews. As a junior frontend developer, I am now looking forward to putting my
                knowledge to the test and would very much like to support you as part of your software team.</p>
        </div>
    </div>
    <div class="about-me-img">
        <div>
            <img src="assets/img/Bewerbungsfoto2.png">
            <img src="assets/img/Ellipse 1.png">
        </div>

        <img class="line7" src="assets/img/LINE 7.png">
    </div>
</div>