.contact {
    position: relative;
    width: 80%;
    padding: 10%;
    display: flex;
    justify-content: space-between;    
    height: 65vh;

    .mat-icon {
        position: absolute;
        top: 90%;
        right: 10%;
        font-size: 3rem;
        font-weight: 200;
        color: white;
        width: 3rem;
        height: 3rem;
        transition: color 125ms ease-in-out;

        &:hover {
            color: #FA7902;
        }
    }
    
    div {
        position: relative;
        width: 45%;

        img {
            position: absolute;
            top: 10%;
            right: 112%;
            width: 16%;
            height: 4px;
        }

        p {
            font-weight: 200;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 45%;

        div {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            input {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                width: 100%;
                height: 2rem;
                padding: 0 0.5rem;
                background: #141D2F;
                border: 1px solid;
                border-radius: 8px;
                border-color: #FF4747;
                margin-bottom: 5%;
                color: white;
                outline: none;
                background-color: #141D2F;

                &:hover {
                    border-color: #FA7902;
                }
            }   

            textarea {
                color: white;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                width: 100%;
                height: 10rem;
                padding: 0.5rem 0.5rem;
                background: #141D2F;
                border: 1px solid;
                border-radius: 8px;
                border-color: #FF4747;
                margin-bottom: 5%;
                resize: none;
                outline: none;
                background-color: #141D2F;

                &:hover {
                    border-color: #FA7902;
                }
            }

            .mat-icon {
                position: absolute;
                right: 3%;
                top: 10%;
                color: #141D2F;
                width: 1.3rem;
                height: 1.3rem;
                font-size: 1.3rem;
            }

            .text {
                top: 5%;
            }
        }

        button {
            width: 14rem;
            height: 3rem;
            border-radius: 8px;
            color: white;
            font-size: 1.5rem;
            background-color: #FA7902;
            transition: background-color 125ms ease-in-out, transform 125ms ease-in-out;
        
            &:hover {
                transform: scale(1.2);
                background-color: #FF4747;
            }
        }

    }
}

.border-red {
    border-color: #FF4747 !important;
}

.border-green {
    border-color: lightgreen !important;
}

.color-red {
    color: #FF4747 !important;
}

.color-green {
    color: lightgreen !important;
}

@media (max-width: 900px) {
    .contact {
        flex-direction: column;
        height: unset;

        div {
            width: 100%;

            img {
                top: 15%;
                right: 102%;
            }
        }

        form {
            width: 100%;

            div {
                input {
                    height: 3rem;
                    font-size: 1rem;
                }

                .mat-icon {
                    width: 1.9rem;
                    height: 1.9rem;
                    font-size: 1.9rem;
                }

                textarea {
                    height: 15rem;
                    font-size: 1rem;
                }
            }

            button {
                height: 4rem;
                border-radius: 10px;
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 500px) {

    .contact {
        form {
            button {
                height: 3rem;
                border-radius: 8px;
            }
        }

        div {
            img {
                top: 13%;
            }
        }
    }

}

@media (max-width: 390px) {

    .contact {
        form {
            button {
                height: 3rem;
                border-radius: 8px;
            }
        }

        div {
            img {
                top: 12%;
            }
        }
    }

}