<div class="contact">
    <div>
        <img src="/assets/img/LINE 5.png">
        <h1>Contact</h1>
        <h2>Got a problem to solve?</h2>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.<br><br>
            Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <form action="">
        <div>
            <input type="text" placeholder="Your name">
            <img src="" alt="">
        </div>
        <div>
            <input type="email" placeholder="Your email">
            <img src="" alt="">
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
            <img src="" alt="">
        </div>
        <button mat-raised-button>Send message :)</button>
    </form>
</div>
