<div class="contact" id="contact-section">
    <div>
        <img src="assets/img/LINE 5.png">
        <h1>Contact</h1>
        <h3>Got a problem to solve?</h3>
        <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.<br><br>
            Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <form action="ftp://f0154f7a@daniel-rubin.de/send_mail/send_mail.php" method="POST">
        <div>
            <input name="name" #inputFullname type="text" placeholder="Your name"
                (change)="changeColors(inputFullname, focusName, nameRed, nameGreen, iconName)" 
                (blur)="focusName = false"
                (focus)="focusName = true"
                [class.border-green]="nameGreen"
                required>
            <mat-icon #nameIcon>{{iconName}}</mat-icon>
        </div>
        <div>
            <input name="email" #inputEmail type="email" placeholder="Your email" 
                (change)="changeColors(inputEmail, focusEmail, emailRed, emailGreen, iconEmail)" 
                (blur)="focusEmail = false"
                (focus)="focusEmail = true"
                [class.border-green]="emailGreen"

                required>
            <mat-icon #emailIcon >{{iconEmail}}</mat-icon>
        </div>
        <div>
            <textarea name="message" #inputMessage cols="30" rows="10" placeholder="Your message" 
                (change)="changeColors(inputMessage, focusMessage, messageRed, messageGreen, iconMessage)" 
                (blur)="focusMessage = false"
                (focus)="focusMessage = true"
                [class.border-green]="messageGreen"

                required>
            </textarea>
            <mat-icon class="text" #messageIcon >{{iconMessage}}</mat-icon>
        </div>
        <button type="submit">Send message :)</button>
    </form>
    <a href="#introduction"><mat-icon>arrow_circle_up</mat-icon></a>
</div>
