.skills {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    height: 60vh;
    width: 80%;
    padding: 0 10% 0 10%;

    .title {
        position: relative;
        display: flex;
        flex-direction: column;
        width: min-content;
        text-align: center;
        align-items: center;

        h1 {
            text-align: center;
            pointer-events: none;
        }

        p {
            text-align: center;
            pointer-events: none;

        }

        button {
            width: 10rem;
            height: 4rem;
            border-radius: 10px;
            font-size: 1.5rem;
            background-color: #FA7902;
            transition: background-color 125ms ease-in-out, transform 125ms ease-in-out;
            margin-top: 10%;
            cursor: pointer;
            z-index: 1;

            &:hover {
                background-color: #FF4747;
                transform: scale(1.2) translateY(11.2%) ;
            }
        }

        img {
            position: absolute;
            top: 30%;
            right: -100%;
            width: 85%;
            height: 2%;
            margin: 0;
        }

    }

    div {
        width: 55%;

        img {
            margin: 2.5%;
            width: 16%;
        };
    }
}