<div class="skills">
    <div class="title">
        <div>
            <h1>My skills</h1>
            <p>I have grown my frontend development skills that have allowed me to crate different real projects.</p>
            <button mat-raised-button>Get in touch</button>
        </div>
        <img src="/assets/img/Vector 1.png">
    </div>
    <div>
        <img src="/assets/img/Angular.png">
        <img src="/assets/img/Typescript.png">
        <img src="/assets/img/Javascript.png">
        <img src="/assets/img/HTML5.png">
        <img src="/assets/img/Firebase.png">
        <img src="/assets/img/git.png">
        <img src="/assets/img/CSS.png">
        <img src="/assets/img/Rest-api.png">
        <img src="/assets/img/Scrum.png">
        <img src="/assets/img/Material.png">
    </div>
</div>
