<div class="skills" id="skills-section">
    <div class="title">
        <h1>My skills</h1>
        <p>I have grown my frontend development skills that have allowed me to crate different real projects.</p>
        <a href="#contact-section"><button mat-raised-button>Get in touch</button></a>
        <img src="assets/img/Vector 1.png">
    </div>
    <div>
        <div>
            <img src="assets/img/Angular.png">
            <p>Angular</p>
        </div>
        <div>
            <img src="assets/img/Typescript.png">
            <p>TypeScript</p>
        </div>
        <div>
            <img src="assets/img/Javascript.png">
            <p>JavaScript</p>
        </div>
        <div>
            <img src="assets/img/HTML5.png">
            <p>HTML</p>
        </div>
        <div>
            <img src="assets/img/Firebase.png">
            <p>Firebase</p>
        </div>
        <div>
            <img src="assets/img/git.png">
            <p>Git</p>
        </div>
        <div>
            <img src="assets/img/CSS.png">
            <p>CSS</p>
        </div>
        <div>
            <img src="assets/img/Rest-api.png">
            <p>Rest-Api</p>
        </div>
        <div>
            <img src="assets/img/Scrum.png">
            <p>Scrum</p>
        </div>
        <div>
            <img src="assets/img/Material.png">
            <p>Material design</p>
        </div>

    </div>
</div>
