<div class="portfolio">
    <div class="title">
        <h1>Portfolio</h1>
        <p>This page is a sample of my work - please feel free to try them out.</p>
        <img class="line-left" src="/assets/img/Vector 1.png">
        <img class="line-right" src="/assets/img/Vector 1.png">
    </div>

    <div class="item">
        <div>
            <h2>Join</h2>
            <h3>Javascript | HTML | CSS</h3>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
            <div>
                <button class="live-test" mat-raised-button>Live test</button>
                <button class="github" mat-stroked-button>Github</button>
            </div>
        </div>
        <img src="/assets/img/laptop1.png">
    </div>

    <div class="item" style="flex-direction: row-reverse;">
        <div style="align-items: flex-start;">
            <h2>Join</h2>
            <h3>Javascript | HTML | CSS</h3>
            <p style="text-align: start;">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
            <div>
                <button class="live-test" mat-raised-button>Live test</button>
                <button class="github" mat-stroked-button>Github</button>
            </div>
        </div>
        <img src="/assets/img/laptop2.png">
    </div>

</div>
