<div class="portfolio" id="portfolio-section">
    <div class="title">
        <h1>Portfolio</h1>
        <p>This page is a sample of my work - please feel free to try them out.</p>
        <img class="line-left" src="assets/img/Vector 1.png">
        <img class="line-right" src="assets/img/LINE 4.png">
    </div>

    <div class="item1">
        <div>
            <h2>Join</h2>
            <h3>Javascript | HTML | CSS</h3>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
            <div>
                <a href="https://daniel-rubin.developerakademie.net/Join-2/loginLogout/index.html"><button class="live-test" mat-raised-button>Live test</button></a>
                <a href="https://github.com/d-rubin"><button class="github" mat-stroked-button>Github</button></a>
            </div>
        </div>
        <img src="assets/img/laptop1.png">
    </div>

    <div class="item2">
        <div>
            <h2>Sharky</h2>
            <h3>Javascript | HTML | CSS</h3>
            <p style="text-align: start;">A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poision bottles to fight against the killer whale</p>
            <div>
                <a href="https://sharky.daniel-rubin.de/"><button class="live-test" mat-raised-button>Live test</button></a>
                <a href="https://github.com/d-rubin"><button class="github" mat-stroked-button>Github</button></a>
            </div>
        </div>
        <img src="assets/img/laptop2.png">
    </div>

    <div class="item1">
        <div>
            <h2>Ring of fire</h2>
            <h3>Angular | HTML | SCSS | Firebase</h3>
            <p>A small Game-app inspired by the popular drinking card game.</p>
            <div>
                <a href="https://www.ring-of-fire.daniel-rubin.de/"><button class="live-test" mat-raised-button>Live test</button></a>
                <a href="https://github.com/d-rubin"><button class="github" mat-stroked-button>Github</button></a>
            </div>
        </div>
        <img src="assets/img/laptop3.jpg">
    </div>

</div>
