<div class="introduction" id="introduction">
    <img src="/assets/img/Bewerbungsfoto.png">
    <div>
        <div>
            <p>I am</p>
            <div>
                <h1>Daniel Rubin</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <button mat-raised-button>Let's talk!</button>
    </div>
</div>
<!-- </div> -->

<div class="sozial-media">
    <div class="line"></div>
    <div>
        <img src="/assets/img/Github button.png">
        <img src="/assets/img/Email button.png">
        <img src="/assets/img/Linkedin button.png">
        <a href="daniel.rubin1997@gmail.com">daniel.rubin1997@gmail.com</a>
    </div>
</div>

<span>
    <p>Scroll down</p>
    <img src="/assets/img/arrow-down-line.png">
</span>
