<div class="introduction" id="introduction">
    <img src="assets/img/Bewerbungsfoto1.jpg">
    <div>
        <div>
            <p>I am</p>
            <div>
                <h1>Daniel Rubin</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <a href="#contact-section"><button mat-raised-button>Let's talk!</button></a>
    </div>
</div>
<!-- </div> -->

<div class="sozial-media">
    <div class="line"></div>
    <div>
        <a href="https://github.com/d-rubin" target="_blank"><img src="assets/img/Github button.png"></a>
        <a href="mailto:contact@daniel-rubin.de"><img src="assets/img/Email button.png"></a>
        <a href="https://www.linkedin.com/in/profile-daniel-rubin/" target="_blank"><img src="assets/img/Linkedin button.png"></a>
        <a class="email" href="#contact-section" target="_blank">conctact@daniel-rubin.de</a>
    </div>
</div>

<span>
    <p>Scroll down</p>
    <img src="assets/img/arrow-down-line.png">
</span>
