<div class="introduction" id="introduction">
    <img src="assets/img/Bewerbungsfoto.jpg">
    <div>
        <div>
            <p>I am</p>
            <div>
                <h1>Daniel Rubin</h1>
                <h2>FRONTEND DEVELOPER</h2>
            </div>
        </div>
        <a href="#contact-section"><button mat-raised-button>Let's talk!</button></a>
    </div>
</div>
<!-- </div> -->

<div class="sozial-media">
    <div class="line"></div>
    <div>
        <a href="https://github.com/Daniel109746"><img src="assets/img/Github button.png"></a>
        <a href="mailto: daniel.rubin1997@gmail.com"><img src="assets/img/Email button.png"></a>
        <a href="https://www.linkedin.com/in/daniel-rubin-6800b5209/"><img src="assets/img/Linkedin button.png"></a>
        <a class="email" href="#contact-section">daniel.rubin1997@gmail.com</a>
    </div>
</div>

<span>
    <p>Scroll down</p>
    <img src="assets/img/arrow-down-line.png">
</span>
