<app-header></app-header>
<img class="img-background" [class.d-none]="imprint" src="assets/img/photo shadows.png">
<img class="seperate-line" [class.d-none]="imprint" src="assets/img/Vector.png">
<img class="shadow1" [class.d-none]="imprint" src="assets/img/Purple shadow.png">
<img class="shadow2" [class.d-none]="imprint" src="assets/img/GReen shadow.png">
<img class="shadow3" [class.d-none]="imprint" src="assets/img/Vector 5.png">
<img class="shadow4" [class.d-none]="imprint" src="assets/img/GReen shadow (1).png">
<app-imprint [class.d-none]="!imprint"></app-imprint>


<app-introduction [class.d-none]="imprint"></app-introduction>
<app-about-me [class.d-none]="imprint"></app-about-me>
<app-skills [class.d-none]="imprint"></app-skills>
<app-portfolio [class.d-none]="imprint"></app-portfolio>
<app-contact [class.d-none]="imprint"></app-contact>

<app-footer ></app-footer>