@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, body { 
    height: 100%; 
    scroll-behavior: smooth;
}
body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif !important;
    background-color: #141D2F;
    color: white;
    width: 100%; 
    overflow-x: hidden;
}

html {
    font-size: clamp(0.8rem, 0.7466rem + 0.2671vw, 1.2rem);
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: 700;
    white-space: nowrap;
} 